body {
    background-color: black;
    color: white;
}

*.footprint {
    position: absolute;
    display: block;
    opacity: 0.8;
    transform-origin: 50% 50%;
}

*.highlight {
    position: absolute;
    display: block;
    opacity: 1;
    transform-origin: 50% 50%;
    z-index: 1;
}

*.hidden {
    opacity: 0;
}

*.fade {
    transition: opacity 250ms ease-in-out;
}

*.highfade {
    transition: opacity 250ms ease-in-out;
}

 *.pointer {
    position: absolute;
    display: block;
    transform-origin: 50% 50%;
 }